/* "Clearfix" */
.cf:before,
.cf:after{
  content: "";
  display: table;
}
.cf:after{
  clear: both;
}

/* Reusable components */
.left{
  float: left;

}
.right{
  float: right;
}

body{
  color: white;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}
a{
  text-decoration: none;
  color: white;
}


.navigation-item{
  font-size: 14px;
  display: inline-block;
  border-top: 5px solid transparent;
  padding: 22px 10px 10px 10px;
  cursor: pointer;
}
.navigation-item:hover{
  text-decoration: none;
  border-top: 5px solid #edb1aa;
}
.navigation-item-first{
  font-size: 14px;
  display: inline-block;
  color: white;
  border-top: 22px solid transparent;
  padding: 10px 10px 10px 10px;
  position: absolute;
left: 140px;
}


.main-container{
  width: 1280px;
  height: 820px;
  background-color: rgba(211, 53, 35, .9);
  margin: 0 auto;
}
.navigation-container{
  height: 70px;
  background-color: rgba(211, 53, 35, .9);
  position:fixed;
  top:0;
  z-index: 99;
  width: inherit;
}
.navigation-logo-container{
 height: 70px;
 width: 160px;
 display: block;
 margin-left: 90px;
 margin-top: 10px;
 position: relative;
}
.navigation-logo-text-container{
  width: 100px;
  height: 50px;
  background-color: rgba(211, 53, 35, .9);
  /*color: white;*/
  font-size: 12px;
  line-height: 50px;
}
.navigation-links-container{
  height: 70px;
  width: 470px;
}





.slider-container{
  background-image: url("img/RED-Bg.png");
   background-color: #d43d2c;

  position: relative;
;

  width: 1280px;
  height: 820px;
}


.slider-social-icons{
  top: 730px;
  bottom: 67px;
  left: 500px;
  display: inline-block;
  position: absolute;
  height: 25px;
  border: 0px solid black;
  align-items: center;


}




.slider-main-container{
  position: absolute;
  top: 600px;
  left: 200px;
  width: 940px;
  height: 90px;
  border: 0px solid black;
  font-size: 20px;
  color: white;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  line-height: 32px;

}






.slider-buttons-container{
  position: absolute;
  top: 400px;
  right: 90px;
  transform: translate(0, -50%);
}
.slider-button{
  width: 5px;
  height: 5px;
  border: 1px solid white;
  margin: 4px auto;
  border-radius: 50%;
}
/*.active-slider-button{
  background-color: white;
}*/
.slider-button:hover{
  background-color: white;
  cursor: pointer;
}
.portfolio-slider-buttons-container{
  position: absolute;
  top: 380px;
  right: 600px;
}


.services-container{
  border: 0.1px solid rgba(211, 53, 35, .9);
  background-color: rgba(211, 53, 35, .9);
  height: 580px;

}
.service-unit-container{
  width: 200px;
height: 300px;
background-color: transparent;
border: 0px solid white;
margin: 0 20px;
position: relative;
left: 115px;
text-align: center;
}
.first-floated-element{
  margin-left: 60px;
}


.services-content-container{
  position: absolute;
    display: inline;
    top: 1020px;
}



.part-header-container{
  position: relative;
width: 200px;
height: 120px;
left: 550px;

}

.part-header-container h1{
  font-family: 'Roboto';
  font-size: 30px;
  text-transform: uppercase;
  position: absolute;
  top: 100px;
}

.service-header-container h2{
  font-family: 'Roboto';
  font-size: 18px;
  text-transform: uppercase;
  top: 100px;
display: inline-block;
text-align: center;
}

.service-header-container p{
  font-family: 'Roboto';

  text-align: center;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
line-height: 24px;
}




.portfolio-main-text-container p{
  width: 1000px;
  height: 80px;
  text-align: center;
  position: absolute;
  top: 200px;
  left: 150px;
  font-family: 'Roboto', sans-serif;
line-height: 30px;
font-size: 18px;
color: white;
}




.portfolio-category-buttons-container, .team-slider-buttons-container{
  margin: 0 auto;
  margin-top: 219px;
  margin-bottom: 30px;
  text-align: center;
}

.portfolio-category-buttons-container button{
  border: 2px solid transparent;
  background-color: transparent;
  color: white;
  outline: none;
  border-radius: 10%;
  margin: 0 30px;
  text-transform: uppercase;
  padding: 4px;
}

.portfolio-category-buttons-container button.active,
.portfolio-category-buttons-container button:hover{
  border-color: white;
  cursor: pointer;
}


.portfolio-container{
  background-image: url('img/bg-green.png');
  background-color: #57aa68;
  background-size: 1280px 420px;
  background-repeat: no-repeat;
  padding-top: 0.1px;
  position: relative;
  height: 1020px;
}




.portfolio-item-container{
  width: 25%;
  position: relative;
  top: 40px;
}
.portfolio-item-container:hover > .portfolio-item-hover{
  visibility: visible;
}

.portfolio-images-container{
  width: 100%;
  display: block;
  position: absolute;
  top: 380px;
  height: 600px;
}








.price-container{
  background-image: url('img/bg-green2.png');

  background-color: #6ffaff;
  background-size: 1280px 280px;
  background-repeat: no-repeat;
  padding-top: 0.1px;
  position: relative;
  height: 2800px;
}

 .price-category-buttons-container{
   margin: 0 auto;
   margin-top: 106px;
   margin-bottom: 20px;
   text-align: center;
}

.price-category-buttons-container button{
  border: 2px solid transparent;
  background-color: transparent;
  color: white;
  outline: none;
  border-radius: 10%;
  margin: 0 30px;
  text-transform: uppercase;
  padding: 4px;
}

.price-category-buttons-container button.active,
.price-category-buttons-container button:hover{
  border-color: white;
  cursor: pointer;
}












.price-container-2{
  background-image: url("img/green-bg-vertical.png");
      background-color: #2a5759;

}






.team-main-text-container{
  margin: 0 30px 20px;
}


.team-container{
  text-align: center;
  padding-top: 2420px;
}
.contacts-container{
  background-color: blue;
  overflow: auto;
}

.contact-form{
  width: 600px;
  margin: 20px auto 40px;
}
.contact-form input, .contact-form textarea{
  width: 100%;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 5px;
  padding-left: 30px;
  background-color: rgba(255, 100, 40, 0.5);
  color: white;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
}
input[type='submit']{
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: 1px solid white;
  background-color: transparent;
}
.contact-form textarea{
  overflow: hidden;
  resize: none;
}
.section-container{
  width: 1280px;
  margin: 0 0 0 0px;
  height: 1020px;
}



.portfolio-item-hover{
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom:0;
  background-color: rgba(123, 234, 2, 0.7);
  text-align: center;
}
